@font-face {
    src: url();
    font-family: Standard;
}

* {
    font-family: Standard;
}

#DocumentHolder {
    display: flex;
    justify-content: center;
    gap: 8px;
}

#HomeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.FontClass {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}

#CommonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#CommonContainer button, #CommonContainer input {
    width: 75px;
    padding: 8px 5px;
}

.NumberBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    height: 30px;
    width: 30px;
}

.NumberBoxColor {
    background-color: rgb(217, 216, 216);
    color: black;
}

.HOVER:hover {
    cursor: pointer;
    opacity: 0.7;
}

#GridContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.CENTER {
    text-align: center;
}

.InputSHORT {
    width: 60px;
}

.InputMEDIUM {
    width: 120px;
}

.InputLONG {
    width: 260px;
}

.InputSUPERLONG {
    width: 520px;
}

.ThickBorder {
    border: 1px solid black;
}

.MARKEDColor {
    background-color: lightgreen;
}
