#DocumentHolder {
    display: flex;
    justify-content: center;
    gap: 5px;
}

#Home {
    display: block;
    text-align: center;
}

.FontClass {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif
}

#CommonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#CommonContainer button, #CommonContainer input {
    width: 75px;
    padding: 8px 5px;
}

.NumberBox {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(228, 227, 227);
    border-radius: 5px;
    height: 30px;
    width: 30px;
    
}

#GridContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    
}