#RemoveControlsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.RemoveCSSColor {
    background-color: rgb(239, 182, 36);
}


.REMOVEDColor {
    background-color: rgb(255, 52, 52);
}