#ClearControlsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
#ClearControlsContainer button {
    padding: 5px;
}

.ClearColor {
    background-color: red;
    color: red;
}

.ClearColor:hover {
    background-color: orange;
    color: orange;
}
